<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-32Q02XPDQZ"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-32Q02XPDQZ');
	</script>
	<title>{{ if not .IsHome }}{{ .Title | title }} — {{ end }}{{ .Site.Title }}</title>
	<script src="https://kit.fontawesome.com/eadcda0d00.js" crossorigin="anonymous"></script>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Alegreya+Sans+SC:wght@300;400;500&display=swap" rel="stylesheet">
		{{ $sass := resources.Get "sass/style.scss" }}
		{{ $style := $sass | resources.ToCSS }}
	<link rel='stylesheet' href='{{ $style.Permalink }}' integrity='{{ $style.Data.Integrity }}'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ partial "nav.html" . }}
{{ partial "wpp_button.html" . }}
<main>
<header><h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></header>

{{ $link := .RelPermalink }} 
{{ if (and (ne $link "/blog/") (ne $link "/")) }}
{{ if (eq .RelPermalink "/sobre/") }}
	<article class="about-article">
{{ else }}
	<article>
{{ end }}
	<div class="featured-image">
{{ end }}
{{ block "main" . }}
	{{ if isset .Params "featured_image" }}
		{{ with .Params.featured_image }}<img src="{{ . }}" height="30%"></a>{{ end }}
		{{ if isset .Params "attribution" }}	
		</div>
		<span class="attribution">Autor da imagem: {{ .Params.attribution }}</span>
		{{ end }}
		</div>
	{{end}}
	<div class="article-text">
	{{ .Content }}
	</div>

{{ $link := .RelPermalink }} 
{{ if (and (ne $link "/blog/") (ne $link "/")) }}
</article>
{{ end }}
{{ end }}
{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
</main>
{{ block "footer" . }}
{{ partial "footer.html" . }}
{{ end }}
</body>
</html>
