{{ define "main" }}

<div id="website-introduction">
	{{ .Params.website_introduction | markdownify }} 
	
	{{ if (eq .RelPermalink "/gt/") }}

	<div id="gt-intro-lists">
		{{ .Params.gt_intro0201 | markdownify }}
		{{ .Params.gt_intro0202 | markdownify }}
	</div>
	<div class="gt-intro-ending">{{ .Params.gt_intro03 | markdownify }}</div>
	{{ end }}
</div>

{{ partial "ctab.html" . }}

<h3 id="how-it-helps">Entenda mais sobre como o meu atendimento pode te auxiliar</h3>
(( video ))
<div id="how-treatment">
	{{ .Params.how_treatment | markdownify }} 
</div>

{{ partial "ctab.html" . }}

<div id="gains">
	{{ .Params.gains | markdownify }}
</div>

{{ partial "ctab.html" . }}
{{ end }}