{{ define "main" }}

<div id="website-introduction">
	{{ .Params.website_introduction | markdownify }} 
	
	{{ if (eq .RelPermalink "/tempo/") }}

	<div id="gt-intro-lists">
		{{ .Params.gt_intro0201 | markdownify }}
		{{ .Params.gt_intro0202 | markdownify }}
	</div>
	<div class="gt-intro-ending">{{ .Params.gt_intro03 | markdownify }}</div>
	{{ end }}
</div>

{{ partial "ctab.html" . }}

<h3 id="how-it-helps">Entenda mais sobre como o meu atendimento pode te auxiliar</h3>

{{ if isset .Params "video_link" }}

<div id="video-container">
	{{ if isset .Params "video_description" }}
	<h4>{{.Params.video_description}}</h4>
	{{ end }}
	<iframe id="video" 
		src="https://www.youtube.com/embed/{{.Params.video_link}}" 
		title="Como funciona o atendimento para gestão do tempo" 
		frameborder="0" 
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
		allowfullscreen>
	</iframe>
</div>

{{ end }}

<div id="how-treatment">
	{{ .Params.how_treatment | markdownify }} 
</div>

{{ partial "ctab.html" . }}

<div id="gains">
	{{ .Params.gains | markdownify }}
</div>

{{ partial "ctab.html" . }}
{{ end }}