<footer>
<h3>Paulo Alves</h3>		
	<h4></h4>
	<div id="sitemap">
		<p>Psicoterapia, tratamento para procrastinação e treinamento em gestão do tempo para profissionais e estudantes.</p>
		<span class="footer-inner">Mapa do site</span>
		<div>
			<ul>
				<li><a href="/">Homepage</a></li>
				<li><a href="/gt">Gestão do tempo</a></li>
				<li><a href="/psicoterapia/">Psicoterapia</a></li>
				<li><a href="/blog/">Postagens</a></li>
				<li><a href="/contato/">Contato</a></li>
				<li><a href="/sobre/">Sobre</a></li>
			</ul>
		</div>
		<div>
			<span class="footer-inner">Contato</span>
			<ul>
				<li>paulorssalves@gmail.com</li>
				<li>(21) 9 7662 5742</li>
			</ul>
		</div>
	</div>
</footer>
	<span class="copyright">Todos os direitos reservados a Paulo Alves (CRP 05/69714).</span>

