<footer>
	<div id="sitemap">
		<div class="footer-description">
			<h3>Paulo Alves</h3>		
			<p>Psicoterapia, tratamento para procrastinação e treinamento em gestão do tempo para profissionais e estudantes.</p>
		</div>
		<div class="footer-div">
			<div>
				<span class="footer-inner">Mapa do site</span>
				<ul>
					<li><a href="/">Homepage</a></li>
					<li><a href="/gt/">Gestão do tempo</a></li>
					<li><a href="/psicoterapia/">Psicoterapia</a></li>
					<li><a href="#contato">Contato</a></li>
				</ul>
			</div>
			<div>
				<span class="footer-inner">Contato</span>
				<ul>
					<li><a href="https://api.whatsapp.com/send/?phone=%2B5521976625742&text=Ol%C3%A1%21+Encontrei+o+seu+site+na+Internet+e+gostaria+de+saber+mais+detalhes.&type=phone_number&app_absent=0">WhatsApp</a></li>
					<li><a href="mailto:paulorssalves@gmail.com">paulorssalves@gmail.com</a></li>
				</ul>
			</div>
		</div>
</footer>
	<span class="copyright">Todos os direitos reservados a Paulo Alves (CRP 05/69714).</span>

