<div id="instagram-intro">
	<div class="call-to-action" id="ig-button">
		<a href="https://www.instagram.com/paulorssalves" target="_blank">
			<i class="fa-brands fa-instagram wpp-icon">
				<p>Instagram</p>
			</i>
		</a>
	</div>

	<article>
		<a href="{{.Site.Params.instagram.post1_url }}">
			<img src="{{.Site.Params.instagram.post1_img}}" alt="">
		</a>
	</article>
	<article>
		<a href="{{.Site.Params.instagram.post2_url }}">
			<img src="{{.Site.Params.instagram.post2_img}}" alt="">
		</a>
	</article>
	<article>
		<a href="{{.Site.Params.instagram.post3_url }}">
			<img src="{{.Site.Params.instagram.post3_img}}" alt="">
		</a>
	</article>
</div>
