 <nav class="navbar">
	<div class="container">
		<h1>
			<a href="/">{{ $.Site.Params.main_page }}</a>

			<span><a href="/">{{ $.Site.Params.main_page_under }}</a></span>
		</h1>

		<div class="separator">
		{{- $sec := .Page.Section }}{{ $file := .File.TranslationBaseName -}}

<div class="navbar-header-bsc">
		<ul>
		{{ if (eq .RelPermalink "/") }}
			<li><a class="menuactive" href="#website-introduction"><span class=pre></span><span class=menuname>Abordagens</span></a></li>
			<li><a class="menuactive" href="#get-to-know"><span class=pre></span><span class=menuname>Tratamentos</span></a></li>
			{{ range.Site.Menus.main.ByWeight }}{{ $base := path.Base .URL }}
			<li><a {{ if or ( eq $sec $base ) ( eq $file $base ) ( and (eq $sec "") ( eq $file "_index") (eq $base "/") ) }}class="menuactive" {{ end }}href="{{ .URL }}"><span class=pre>{{ .Pre }}</span><span class=menuname>{{ .Name }}</span></a></li>
			{{- end }}
		{{ end }}

		{{ if (eq .RelPermalink "/gt/") }}

			<li><a class="menuactive" href="/"><span class=pre></span><span class=menuname>Home</span></a></li>
			<li><a class="menuactive" href="#website-introduction"><span class=pre></span><span class=menuname>Desafios</span></a></li>
			<li><a class="menuactive" href="#how-it-helps"><span class=pre></span><span class=menuname>Como funciona</span></a></li>
			<li><a class="menuactive" href="#gains"><span class=pre></span><span class=menuname>Benefícios</span></a></li>
		
		{{ else if (eq .RelPermalink "/psicoterapia/") }}

			<li><a class="menuactive" href="/"><span class=pre></span><span class=menuname>Home</span></a></li>
			<li><a class="menuactive" href="#website-introduction"><span class=pre></span><span class=menuname>Sintomas</span></a></li>
			<li><a class="menuactive" href="#how-it-helps"><span class=pre></span><span class=menuname>Como funciona</span></a></li>
			<li><a class="menuactive" href="#gains"><span class=pre></span><span class=menuname>Benefícios</span></a></li>

		{{ else if strings.Contains .RelPermalink "blog" }}

			<li><a class="menuactive" href="/"><span class=pre></span><span class=menuname>Home</span></a></li>
			<li><a class="menuactive" href="/psicoterapia/"><span class=pre></span><span class=menuname>Psicoterapia</span></a></li>
			<li><a class="menuactive" href="/gt/"><span class=pre></span><span class=menuname>Gestão do Tempo</span></a></li>

		{{ end }}
		
			<li><a class="menuactive" href="#contato"><span class=pre></span><span class=menuname>Contato</span></a></li>

		</ul>
</div>

<!-- insert checkbox -->

	<input type="checkbox" id="navbar-toggle-cbox">
<!-- change the "hamburger" icon from being a button to a label for checkbox -->

	<div class="navbar-header">

	 <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span><i class="fa-solid fa-bars"></i></span>
		</label>

	</div>
	<div class="collapse">
		<ul>
		{{ if (eq .RelPermalink "/") }}
			<li><a class="menuactive" href="#website-introduction"><span class=pre></span><span class=menuname>Abordagens</span></a></li>
			<li><a class="menuactive" href="#get-to-know"><span class=pre></span><span class=menuname>Tratamentos</span></a></li>
			{{ range.Site.Menus.main.ByWeight }}{{ $base := path.Base .URL }}
			<li><a {{ if or ( eq $sec $base ) ( eq $file $base ) ( and (eq $sec "") ( eq $file "_index") (eq $base "/") ) }}class="menuactive" {{ end }}href="{{ .URL }}"><span class=pre>{{ .Pre }}</span><span class=menuname>{{ .Name }}</span></a></li>
			{{- end }}
		{{ end }}

		{{ if (eq .RelPermalink "/gt/") }}

			<li><a class="menuactive" href="/"><span class=pre></span><span class=menuname>Home</span></a></li>
			<li><a class="menuactive" href="#website-introduction"><span class=pre></span><span class=menuname>Desafios</span></a></li>
			<li><a class="menuactive" href="#how-it-helps"><span class=pre></span><span class=menuname>Como funciona</span></a></li>
			<li><a class="menuactive" href="#gains"><span class=pre></span><span class=menuname>Benefícios</span></a></li>
		
		{{ else if (eq .RelPermalink "/psicoterapia/") }}

			<li><a class="menuactive" href="/"><span class=pre></span><span class=menuname>Home</span></a></li>
			<li><a class="menuactive" href="#website-introduction"><span class=pre></span><span class=menuname>Sintomas</span></a></li>
			<li><a class="menuactive" href="#how-it-helps"><span class=pre></span><span class=menuname>Como funciona</span></a></li>
			<li><a class="menuactive" href="#gains"><span class=pre></span><span class=menuname>Benefícios</span></a></li>

		{{ else if strings.Contains .RelPermalink "blog" }}

			<li><a class="menuactive" href="/"><span class=pre></span><span class=menuname>Home</span></a></li>
			<li><a class="menuactive" href="/psicoterapia/"><span class=pre></span><span class=menuname>Psicoterapia</span></a></li>
			<li><a class="menuactive" href="/gt/"><span class=pre></span><span class=menuname>Gestão do Tempo</span></a></li>

		{{ end }}
		
			<li><a class="menuactive" href="#contato"><span class=pre></span><span class=menuname>Contato</span></a></li>
		</ul>
	</div>
		</div>
</nav>

