 <nav class="navbar">
	<div class="container">
		<h1>
			<a href="/">{{ $.Site.Params.main_page }}</a>
			<span>{{ $.Site.Params.main_page_under }}</span>
		</h1>

		<div class="separator">
		{{- $sec := .Page.Section }}{{ $file := .File.TranslationBaseName -}}

		</div>
		<input type="checkbox" id="navbar-toggle-cb">
		<label for="navbar-toggle-cb" data-toggle="collapse"><i class="fa-solid fa-bars"></i></label>
	</div>
</nav>
	<div class="collapse">
		<ul>
		{{ range.Site.Menus.main.ByWeight }}{{ $base := path.Base .URL }}
		<li><a {{ if or ( eq $sec $base ) ( eq $file $base ) ( and (eq $sec "") ( eq $file "_index") (eq $base "/") ) }}class="menuactive" {{ end }}href="{{ .URL }}"><span class=pre>{{ .Pre }}</span><span class=menuname>{{ .Name }}</span></a></li>
			{{- end }}

		</ul>
	</div>
