
<div class="video-roulette">
	<div class="video-lateral">
		<div class="lateral-inner"></div>
		<div class="lateral-inner"></div>
	</div>
	<div class="video-container">
	<h3>Mais informações</h3>
		<div class="video-actual">
			<iframe class="video-player"width="560" height="315" src="https://www.youtube.com/embed/29xPuBdy9yQ?si=GC8YKny5VNW3rvI2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		<div class="lateral-inner"></div>
		<div class="lateral-inner"></div>
	</div>
	<div class="video-lateral">
		<div class="lateral-inner"></div>
		<div class="lateral-inner"></div>
	</div>
</div>
