
{{ define "main" -}}
{{ .Content }}


<h2 class="blog-intro">Blog</h2>

{{ $blogPages := where .Site.RegularPages "Section" "blog" }}

{{ range $blogPages.Reverse }}
	{{ if ne .File.Dir "/blog" }} 
	<li class="blogpost-list-item">
			<div class="blogpost-card"> 
			{{ if isset .Params "featured_image" }}
			<div class="featured-image">
				<a href="{{ .RelPermalink }}">
				{{ with .Params.featured_image }}<img src="{{ . }}" height="30%">{{ end }}
				</a>
				{{ end }}
				<div class="blogpost-summary">
					<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
						<p class="blogpost-summary-content">
							{{ .Summary }}..

							{{ if .Truncated }}
								<span class="read-more index-located"><a href="{{ .RelPermalink }}">Ler mais.</a></span>

							{{ end }}
						</p>
				</div>
			</div>
	</li>
	{{ end }}
{{ end}}

{{- end}}
