{{ define "main" -}}
<div class="wrapper">
		<div class="index-content-separator">
			<div>
				{{ if isset .Params "introduction_title" }}
				<h2 class="index-h2">{{ .Params.introduction_title}}</h2>
				{{ end }}
			</div>		
			<div id="website-introduction">{{ .Params.website_introduction| markdownify }}</div>
		</div>

		<div class="index-content-separator">
			<div>
				<h2 class="index-h2">{{ .Params.approach_intro}}</h2>
				<img src="{{ .Params.img2 }}" alt="" class="index-img">
			</div>
			<div class="approach">
				<div class="approach-description approach01">{{ .Params.approach01_description| markdownify }}</div>
				<div class="approach-description approach02">{{ .Params.approach02_description| markdownify }}</div>
			</div>
		</div>

	<h3 class="get-to-know" id="get-to-know">{{ .Params.CTA }}</h3>
	<h4 class="get-to-know sub">{{ .Params.CTA_sub }}</h4>
	<div class="services">
		<div class="service service-psychotherapy">
			<img src="{{ .Params.therapy_icon }}" alt="" class="index-img">
			<h4>{{ .Params.service_psychotherapy}}</h4>
			<h5>{{ .Params.service_psychotherapy_sub }}</h5>
			{{ .Params.service_psychotherapy_list | markdownify }}

			<div class="call-to-action service-button">
				<a href="/psicoterapia/" class="know-more">Saiba mais</a>
			</div>
		</div>

		<div class="service service-tm">
			<img src="{{ .Params.tm_icon}}" alt="" class="index-img">
			<h4>{{.Params.time_management }}</h4>
			<h5>{{ .Params.time_management_sub }}</h5>
			{{ .Params.time_management_list | markdownify }}

			<div class="call-to-action service-button">
				<a href="/gt/" class="know-more">Saiba mais</a>
			</div>
		</div>
	</div>
</div>
{{- end}}

